* {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.618em;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    text-align: center;
    color: darkmagenta;
}

p {
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0;
}

img {
    border: 1px solid black;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

header {
    padding: 3em 1em 0 0;
}

nav {
    background: #333;
    display: flex;
    flex-flow: row;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    color: #fff;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav a:hover {
    background: #666;
}