.category-names {
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
    width: auto;
}
.container-category {
    background: darkgrey;
    border-radius: 25px;
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
    margin-bottom: 1em;
    margin-top: 1em;
}

.container-review {
    background: darkgrey;
    border-radius: 25px;
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
    margin-bottom: 1em;
    margin-top: 1em;
}

.review {
    background: lightskyblue;
    border-radius: 10px;
    display: grid;
    font-family: Calibri;
    grid-row-gap: 1em;
    margin-bottom: 1em;
    padding: 20px;
}

.rows {
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
    width: auto;
}