* {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.618em;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    text-align: center;
    color: darkmagenta;
}

p {
    text-align: center;
}

li {
    text-align:center;
    color: crimson;
}

footer {
    background: #333;
    color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0;
}

img {
    border: 1px solid black;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

.container-review {
    background: darkgrey;
    border-radius: 25px;
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
    margin-bottom: 1em;
    margin-top: 1em;
}

.rows {
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
    width: auto;
}

.review {
    background: lightskyblue;
    border-radius: 10px;
    display: grid;
    font-family: Calibri;
    grid-row-gap: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 20px;
}