<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<nav>
    <a href="/reviews">Reviews</a>
</nav>
<body>
<header>
<h1>Review Categories</h1>
</header>
<main>
<div class="container-category" th:each="category:${categories}">
    <div class="category-names"><a th:href="@{'/categories/'+ ${category.categoryName}}"
                               th:text="${category.categoryName}">Category</a></div>
</div>
</main>
<footer>
    <small>&copy We Can Code IT 2020</small>
</footer>
</body>
</html>