<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<!--<h2 th:each="categories:${categories}"><a th:href="@{'/categories/'+ ${category.categoryName}}"-->
<!--                                          th:text="${category.categoryName}">Category</a>-->
</h2>
</body>
</html>