<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top Reviews</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header>
    <h1>Top Reviews</h1>
</header>

<main>
    <div class="container-review" th:each="review: ${reviewsModel}">
        <div class="rows"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></div>
        <!--    <p th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}" ></a></p>-->
    </div>
</main>

<footer>
    <small>&copy We Can Code IT 2020</small>
</footer>

</body>
</html>