<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h2 th:text="${review.title}"/>
</header>

<main>
    <div class="review">
        <p th:text="'Reviewed on:' + ${review.date}"></p>
        <img th:src="${review.imageURL}"/>
        <p th:text="${review.content}"></p>
        <p th:text="'Category:' + ${review.category}"></p>
        <p><a href="/reviews">Read All Reviews</a></p>

    </div>
</main>

<footer>
    <small>&copy We Can Code IT 2020</small>
</footer>

</body>
</html>